<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://fonts.googleapis.com/css?family=Oswald:700|Droid+Serif:400,700italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/underscore-min.js"></script>
    <script type="text/javascript" src="/javascripts/backbone-min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
  </head>
  <body>

    <nav id="main-nav">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/backbone">Backbone.js</a></li>
        <li><a href="/angular">Angular.js</a></li>
      </ul>
      <h3>Tasker</h3>
    </nav>

    <section class="container">

      <article class="row">
        <div class="col-md-12">
          <h1><%= title %></h1>
          <h4>Using <%= library %></h4>
          <p><em>Not yet implemented!</em></p>
        </div>
      </div>

    </section>


  </body>
</html>
