<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://fonts.googleapis.com/css?family=Oswald:700|Droid+Serif:400,700italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/underscore-min.js"></script>
    <script type="text/javascript" src="/javascripts/backbone-min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
  </head>
  <body>

    <nav id="main-nav">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/backbone">Backbone.js</a></li>
        <li><a href="/angular">Angular.js</a></li>
      </ul>
      <h3>Tasker</h3>
    </nav>

    <section class="container">
          <h1><%= title %></h1>
          <p>Coming soon: <em><%= title %></em>! <br>The <strong>MEAN</strong> way to keep track of your tasks!</p>
    </section>


  </body>
</html>
